@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --main-style-color: #ff8400;
    --main-background-color: #404047;
    --white: #fff;
    --links: #668cad;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.full-page-height {
    height: 100vh;
    width: auto;
}

.logo {
    font-size: 1.6rem;
    letter-spacing: .2rem;
    color: var(--main-style-color)
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    background: var(--main-background-color);
    padding: 1em;
}

.navbar nav ul {
    display: flex;
    justify-content: space-between;
    width: 12em;
    margin-right: 10px;
}

.navbar nav ul li a {
    color: var(--white)
}

.hero {
    background-image: url("/assets/images/arch.jpg");
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    height: 92%;
}


